:root{
  --colorBanner:#333333;
  --colorBackground:#EAEAEA
}

.backgroundBanner{
  background-color: var(--colorBanner);
}
.backgroundFondo{
  background-color: var(--colorBackground);
}
.fontPrice0{
  font-size: 0.9rem;
}
.fontPrice1{
  font-size: 1rem;
  font-weight: bold;
}
.fontPrice2{
  font-size: 2rem;
  font-weight: bold;
}
.fontPrice3{
  font-size: 3rem;
}
.fontPrice4{
  font-size: 4rem;
}
.fontlist{
  font-size:0.9rem;
  text-align: start;
}
.checbienvenido{
  height: 120px;
  width: 120px;
  background-color:white;
  padding: 20px;
  margin: 0px 120px;
  border-radius: 50%;
  color: brown;
}
.textOverline{
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: underline;
}
.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}
.textcolorGray{
  color: #a5a5a5;
}