:root{
  --colorBanner:#333333;
  --colorBackground:#EAEAEA
}

.backgroundBanner{
  background-color: var(--colorBanner);
}
.backgroundBannerback{
  background-color: var(--colorBanner);
  align-items: center;
    justify-content: start;
    display: flex;
   
}
.backgroundFondo{
  background-color: var(--colorBackground);
}
.fontPrice0{
  font-size: 0.9rem;
}
.fontPrice0b{
  font-size: 0.9rem;
  font-weight: bold;
}
.fontPrice1{
  font-size: 1rem;
  font-weight: bold;
}
.fontPrice2{
  font-size: 2rem;
  font-weight: bold;
}
.fontPrice3{
  font-size: 3rem;
}
.fontPrice4{
  font-size: 4rem;
}
.fontlist{
  font-size:0.9rem;
  text-align: start;
}
.checbienvenido{
  height: 100px;
  width: 100px;
  background-color:white;
  padding: 20px;
  margin: 0px auto;
  border-radius: 50%;
  color: brown;
}

.textOverline{
  font-size: .8rem;
  font-weight: bold;
  text-decoration: underline;
}
.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}
.textcolorGray{
  color: #a5a5a5;
}
a {
  color: white;
}
.backimg{
  margin: 2px;
height: 20px;
width: 20px;}

.widthF{
  width: 150px;
}